@import "tailwindcss";
body{
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  background-color: white;
}
.urbanist-uniquifier {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
@keyframes scroll-left {
  0% {
    transform: translateX(-100%); /* Start from initial position */
  }
  100% {
    transform: translateX(50%); /* Move to left by 50% to show the next set of text */
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%); /* Start from initial position */
  }
  100% {
    transform: translateX(90%); /* Move to left by 50% to show the next set of text */
  }
}

@keyframes scroll-right2 {
  0% {
    transform: translateX(90%); /* Start from initial position */
  }
  100% {
    transform: translateX(120%); /* Move to left by 50% to show the next set of text */
  }
}
.animate-scroll-left {
  display: flex;
  animation: scroll-left 2s linear infinite; 
  
  /* Infinite loop with smooth continuous movement */
}

.animate-scroll-right{
  display: flex;
  animation: scroll-right 2s linear infinite; /* Infinite loop with smooth continuous movement */
}
.animate-scroll-right2{
  display: flex;
  animation: scroll-right2 2s linear infinite; /* Infinite loop with smooth continuous movement */
}


/* .animate-scroll-left {
  animation: scroll-left 2 linear infinite;
} */
